<% title "Cameras" %>

<table>
  <tr>
    <th>Lng</th>
    <th>Lat</th>
    <th>Name</th>
    <th>Css Selector</th>
    <th>Orientation</th>
    <th>Address</th>
    <th>Url Container</th>
    <th>Url image</th>
  </tr>
  <% for camera in @cameras %>
    <tr>
      <td><%=h camera.lng %></td>
      <td><%=h camera.lat %></td>
      <td><%=h camera.name %></td>
      <td><%=h camera.css_selector %></td>
      <td><%=h camera.orientation %></td>
      <td><%=h camera.address %></td>
      <td><%=h camera.url_container %></td>
      <td><%=h camera.url_image %></td>
      <td><%= link_to "Show", camera %></td>
      <td><%= link_to "Edit", edit_camera_path(camera) %></td>
      <td><%= link_to "Destroy", camera, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    
    <div class="history">
      <ul>
        <% camera.histories.each do |history| %>
        <li>
          <%= image_tag history.image.url %>
        </li>
        <% end  %>
      </ul>
    </div>
  <% end %>
</table>

<p><%= link_to "New Camera", new_camera_path %></p>
