<% title "Camera" %>

<p>
  <strong>Lng:</strong>
  <%=h @camera.lng %>
</p>
<p>
  <strong>Lat:</strong>
  <%=h @camera.lat %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @camera.name %>
</p>
<p>
  <strong>Css Selector:</strong>
  <%=h @camera.css_selector %>
</p>
<p>
  <strong>Orientation:</strong>
  <%=h @camera.orientation %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @camera.address %>
</p>
<p>
  <strong>Url Container:</strong>
  <%=h @camera.url_container %>
</p>
<p>
  <strong>Url image:</strong>
  <%=h @camera.url_image %>
</p>

<p>
  <%= link_to "Edit", edit_camera_path(@camera) %> |
  <%= link_to "Destroy", @camera, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cameras_path %>
</p>
