<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= h(yield(:title) || "Los Ojos de la Ciudad") %></title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <meta name="robots" content="NOODP, " />
  <meta http-equiv="Content-Language" content="es" />
  
  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag :all %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">
    <% if admin? %>
      <p><%= link_to 'Salir', logout_path %></p>
    <% end %>
    
    <%= yield %>
  </div>
  
  <div style="clear:both"></div>
  
  <div id="footer">
    <% if admin? %>
    <ul>
      <li><%= link_to 'Todas las cámaras geolocalizadas', cameras_path %></li>
      <li><%= link_to 'Todas las cámaras geolocalizadas activadas automáticamente', cameras_path( :autoactivation => 'true') %></li>
      <li><%= link_to 'Cámaras no geolocalizadas activadas automáticamente', cameras_path( :filter => 'not_geolocalized', :autoactivation => 'true' ) %></li>
      <li><%= link_to 'Cámaras de Madrid no geolocalizadas activadas automáticamente', cameras_path( :geolocalized => 'false', :autoactivation => 'true', :city => 'Madrid' ) %></li>
      <li><%= link_to 'Cámaras de Barcelona no geolocalizadas activadas automáticamente', cameras_path( :geolocalized => 'false', :autoactivation => 'true', :city => 'Barcelona' ) %></li>
    </ul>
    <% end %>
    
    <p><strong>Los Ojos de la Ciudad</strong> es un proyecto experimental de 
      <a href="http://furilo.com">Alvaro Ortiz</a> y 
      <a href="http://fernandoguillen.info">Fernando Guillén</a>
      para demostrar el aumento de valor de los datos públicos cuando se hacen accesibles.</p>
    
    <p>El desarrollo de <strong>Los Ojos de la Ciudad</strong> fue incentivado por el concurso
      <a href="http://abredatos.es">AbreDatos</a> una inciativa de <a href="http://probp.org">Pro Bono Público</a>.</p>
    
    <p>Puedes descargar y/o consultar el código de esta aplicación en el
      <a href="http://github.com/fguillen/LosOjosDeLaCiudad">repositorio git de Los Ojos de la Ciudad</a>.</p>
  </div>
</body>
</html>
